* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-image: url(images/jd.png);
    background-attachment: fixed
}

.container {
    display: grid;
    height: 130vh;
    width: 100%;
    grid-template-rows: 20vh 5vh 95vh 10vh;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
    "h"
    "n"
    "m"
    "f"
    ;
}

header {
    grid-area: h;
    display: flex;
}

header > h1 {
    margin: auto;
    color: rgb(151, 149, 149);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header > h1 > span {
    color: rgb(243, 165, 21);
}
nav {
    grid-area: n;
    background: rgb(243, 165, 21);
    border-radius: 15px 15px 0px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.lista {
    margin-left: 20px;
}

.lista:hover {
    background: royalblue;
    border-radius: 20px 20px 0px 0px;
}

.lista > a {
    text-decoration: none;
        border-radius: 20px;
        width: 120px;
        height: 45px;
        background: royalblue;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 1000;
        color: white;
}

a:hover {
    background: rgb(102, 133, 226);
}

.lista > ul {
    display: none;
    list-style: none;
    position: absolute;

}

.B:hover{
    border-radius: 20px 20px 0px 0px;
}

.lista > ul > li {
    background: royalblue;
}

.lista > ul > li:hover {
    background: rgb(102, 133, 226);
}

.lista:hover > ul {
    display: inline-block;
}

.lista > ul > li > a {
    text-decoration: none;
    color: white;
    width: 120px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b {
    border-radius: 0px 0px 20px 20px;
}

main {
    grid-area: m;
    background: rgb(44, 44, 44);
    display: flex; 
    flex-direction: column;
}

footer {
    grid-area: f;
    background: rgb(243, 165, 21);
    display: flex;
}

footer > h1 {
    margin: auto;
}

footer > h1 > a {
    text-decoration: none;
    color: greenyellow;
}

main img {
    width: 700px;
    margin: auto;
    border-radius: 10px;
}