* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(253, 239, 159);
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    width: 75%;
    height: 100vh;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 20% 5% 40% 20% 15%;
    grid-template-areas: 
    "f a a a g"
    "f b b b g"
    "f c c c g"
    "f d d d g"
    "f e e e g"
    ;
}

header {
    grid-area: a;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    grid-area: b;
    background: rgb(81, 81, 192);
}

section {
    grid-area: c;
    background: lightgreen;
}

.d {
    grid-area: d;
    background: lightskyblue;
}

footer {
    grid-area: e;
    background: lightsalmon;
}

.rek1 {
    grid-area: f;
    background: lightslategray;
}

.rek2 {
    grid-area: g;
    background: mediumorchid;
}
